<title>にゃそこんSUN🌞</title>
<%= favicon_link_tag "nyasocom2.ico", skip_pipeline: true %>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<%= notice %>
<div class="header__bar row">
  <div align="right">
    <div class="user_nav grid-6 m-1">
      <% if user_signed_in? %>
        <%= link_to "新規投稿", new_blog_url, class: "btn btn-primary" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-success" %>
        <%= link_to "記事一覧", blogs_path, class: "btn btn-info" %>
        <%= link_to "トップ", root_path, class: "btn btn-light" %>
        <br/>
        </div>
        </div>
        </div>
        <br/>
        <div align="center">
          <br/>
          <%= paginate @status %>
          <br/>
        </div>
        <div class="left_top">
          <table>
            <% @status.each do |blog| %>
              <tr>
                <td>
                  <p>
                    <strong>
                      <h2>
                        <div align="left">
                          <%= blog.days %>
                        </div>
                      </h2>
                    </strong>
                  </p>
                  <p>
                    <strong>
                      <h3>
                        <div align="left">
                          <%= blog.title %>
                        </div>
                      </h3>
                    </strong>
                  </p>
                  <p>
                  <div align="left">
                    <%= image_tag(blog.image.url) if blog.image.present? %>
                  </div>
                  </p>
                  <p><strong>
                    <div align="left">
                      <% blog.images.each do |image| %>
                        <%= image_tag image, class: "image", width: '25%', height: '25%' %>
                      <% end %>
                    </div>
                  </strong>
                  </p>
                  <p>
                    <strong>
                      <div align="left">
                        <div class="video-player">
                          <%= video_tag blog.video.url, autoplay: false, multiple: true, muted: false, controls: true, width: "50%", height: "50%" if blog.video.present? %>
                        </div>
                      </div>
                    </strong>
                  </p>
                  <p>
                    <% if blog.file.present? %>
                    <div align="left">
                      <audio src="<%= " #{blog.file}" %>" controls=""></audio>
                    </div>
                  <% else %>
                  <% end %>
                  </p>
                  <% if blog.switch? %>
                    <div class="top_white">
                  <% end %>
                  <p>
                  <div align="left">
                    <%= markdown(blog.body).html_safe %>
                  </div>
                  </p>
                  </div>
                  <div align="left">
                    <%= link_to '新規作成', new_blog_path, class: "btn btn-success btn-sm" %>
                    <%= link_to '閲覧', blog, class: "btn btn-primary btn-sm" %>
                    <%= link_to '編集', edit_blog_path(blog), class: "btn btn-info btn-sm" %>
                    <%= link_to '削除', blog, method: :delete, data: { confirm: '記事を削除してもよろしいですか？' }, class: "btn btn-light btn-sm" %>
                    <%= link_to('再読込', 'javascript:void(0);', onclick: "window.location.reload();", class: "btn btn-dark btn-sm") %>
                    <% Array(blog.user_id).each do |blog_user| %>
                      <% if "#{blog_user}".match?(/^[0]$/) %>
                        原文 : <i class="fa fa-smile smile-btn"></i>
                      <% else %>
                        編集 : <i class="fa fa-smile smile-btn"></i> <%= blog_user %>
                      <% end %>
                    <% end %>
                    <div id="blog_<%= blog.id %>" class="horizen-line">
                      <% if current_user.liked_by?(blog.id) %>
                        <%= link_to destroy_like_path(blog), class: "like-link", method: :DELETE, remote: true, data: { "turbolinks" => false } do %>
                          <i class="fa fa-heart unlike-btn"></i>
                          <%= blog.likes.count %>
                        <% end %>
                      <% else %>
                        <%= link_to create_like_path(blog), class: "like-link", method: :POST, remote: true, data: { "turbolinks" => false } do %>
                          <i class="fa fa-heart like-btn"></i>
                          <%= blog.likes.count %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </td>
            <% end %>
            </tr>
          </table>
        </div>
        <br/>
        <p>
        <hr size="10">
        </p>
        <%= paginate @status %>
        <div align="center">
          <p> 現在日時 :
            <%= @himekuri %>
          </p>
        </div>
        <div align="center">
          <p> Copyright &copy; 2018 -
            <%= Time.now.year %> Takayuki, Kamiyama. </p>
        </div>
        <div align="center">
          <p>
            <b> Not Yet Another Software design of Computer
              <%= @version %> <br/>
              powered by Ruby
              <%= RUBY_VERSION %> / Rails
              <%= Rails.gem_version %> / with
              <%= @pg_version %>
            </b>
          </p>
        </div>
        <p>
        <hr size="10">
        </p>
      <% else %>
      <% end %>
